h3, p {
    font-family: Figtree;
}
h1 {
    font-family: FigtreeBold;
}
@font-face {
    font-family: Figtree;
    src: url(assets/fonts/static/Figtree-Medium.ttf);
}
@font-face {
    font-family: FigtreeBold;
    src: url(assets/fonts/static/Figtree-ExtraBold.ttf);
}
.bodyText {
    font-family: Figtree;
    color: hsl(0, 0%, 42%);
}